[submodule "pack/plugins/start/cmp_luasnip"]
	path = pack/plugins/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "pack/plugins/start/cmp-buffer"]
	path = pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "pack/plugins/start/cmp-nvim-lsp"]
	path = pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "pack/plugins/start/cmp-path"]
	path = pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "pack/plugins/start/Comment.nvim"]
	path = pack/plugins/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "pack/plugins/start/LuaSnip"]
	path = pack/plugins/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "pack/plugins/start/mason.nvim"]
	path = pack/plugins/start/mason.nvim
	url = https://github.com/mason-org/mason.nvim.git
[submodule "pack/plugins/start/neogen"]
	path = pack/plugins/start/neogen
	url = https://github.com/danymat/neogen.git
[submodule "pack/plugins/start/nvim-autopairs"]
	path = pack/plugins/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule "pack/plugins/start/nvim-cmp"]
	path = pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/plugins/start/nvim-osc52"]
	path = pack/plugins/start/nvim-osc52
	url = https://github.com/ojroques/nvim-osc52.git
[submodule "pack/plugins/start/nvim-treesitter-endwise"]
	path = pack/plugins/start/nvim-treesitter-endwise
	url = https://github.com/RRethy/nvim-treesitter-endwise.git
[submodule "pack/plugins/start/nvim-treesitter-textobjects"]
	path = pack/plugins/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugins/start/nvim-ts-autotag"]
	path = pack/plugins/start/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag.git
[submodule "pack/plugins/start/nvim-ts-context-commentstring"]
	path = pack/plugins/start/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring.git
[submodule "pack/plugins/start/rainbow-delimiters.nvim"]
	path = pack/plugins/start/rainbow-delimiters.nvim
	url = https://github.com/HiPhish/rainbow-delimiters.nvim.git
[submodule "bin"]
	path = bin
	url = https://github.com/neovim/neovim.git
